[Unit]
Description=Rokudenashi Game Server

[Service]
ExecStart=/bin/bash -c "cd /home/miyakz/R_UnitTestMaterials/; ./python_http_server.py"
Restart=always
User=miyakz

[Install]
WantedBy=multi-user.target
